apis/soap/xml.wsdl

<?xml version="1.0" encoding ="utf-8"?>
<!-- 
(c) SoundInterfaces
2019-05-03
let you post/retrieve online message by SOAP, REST and GRAPHQL

Online WSDL 1.1 SOAP generator 0.2
Julien Blitte
 -->
<definitions name="let you post/retrieve online message by SOAP, REST and GRAPHQL"
	targetNamespace="br.unifor.sd.sound_interfaces.wsdl"
	xmlns:tns="br.unifor.sd.sound_interfaces.wsdl"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:xsd1="br.unifor.sd.sound_interfaces.xsd"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">
<!-- definition of datatypes -->
	<types>
	<schema targetNamespace="br.unifor.sd.sound_interfaces.xsd" xmlns="http://www.w3.org/2000/10/XMLSchema">
		<element name="musicName">
		<complexType><all><element name="value" type="string" /></all></complexType>
		</element>
		<element name="musicAuthor">
		<complexType><all><element name="value" type="string" /></all></complexType>
		</element>
		<element name="name">
		<complexType><all><element name="value" type="string" /></all></complexType>
		</element>
		<element name="firstName">
		<complexType><all><element name="value" type="string" /></all></complexType>
		</element>
		<element name="lastName">
		<complexType><all><element name="value" type="string" /></all></complexType>
		</element>
		<element name="id">
		<complexType><all><element name="value" type="int" /></all></complexType>
		</element>
		<element name="user_id">
		<complexType><all><element name="value" type="int" /></all></complexType>
		</element>
		<element name="tracks">
		<complexType><all><element name="value" type="int" /></all></complexType>
		</element>
		<element name="void">
		<complexType><sequence></sequence></complexType>
		</element>
	</schema>
	</types>
<!-- response messages -->
	<message name='returns_id'>
	<part name='id' type='xsd:id'/>
	</message>
<!-- request messages -->
	<message name='createUser'>
	<part name='firstName' type='xsd:firstName'/>
	<part name='lastName' type='xsd:lastName'/>
	</message>
	<message name='updateUser'>
	<part name='id' type='xsd:id'/>
	<part name='firstName' type='xsd:firstName'/>
	<part name='lastName' type='xsd:lastName'/>
	</message>
	<message name='getUserById'>
	<part name='id' type='xsd:id'/>
	</message>
	<message name='getAllUsers'>
	<part name='void' type='xsd:void'/>
	</message>
	<message name='createTrack'>
	<part name='musicName' type='xsd:musicName'/>
	<part name='musicAuthor' type='xsd:musicAuthor'/>
	</message>
	<message name='updateTrack'>
	<part name='id' type='xsd:id'/>
	<part name='musicName' type='xsd:musicName'/>
	<part name='musicAuthor' type='xsd:musicAuthor'/>
	</message>
	<message name='getTrackById'>
	<part name='id' type='xsd:id'/>
	</message>
	<message name='getAllTracks'>
	<part name='void' type='xsd:void'/>
	</message>
	<message name='createPlayList'>
	<part name='name' type='xsd:name'/>
	<part name='user_id' type='xsd:user_id'/>
	<part name='tracks' type='xsd:tracks'/>
	</message>
	<message name='updatePlayList'>
	<part name='id' type='xsd:id'/>
	<part name='name' type='xsd:name'/>
	<part name='user_id' type='xsd:user_id'/>
	<part name='tracks' type='xsd:tracks'/>
	</message>
	<message name='getPlayListById'>
	<part name='id' type='xsd:id'/>
	</message>
	<message name='getAllPlayList'>
	<part name='void' type='xsd:void'/>
	</message>
<!-- server's services -->
	<portType name='SoundInterfaces SOAP'>
		<operation name='createUser'>
		<input message='tns:createUser'/>
		<output message='tns:returns_id'/>
		</operation>
		<operation name='updateUser'>
		<input message='tns:updateUser'/>
		<output message='tns:returns_id'/>
		</operation>
		<operation name='getUserById'>
		<input message='tns:getUserById'/>
		<output message='tns:returns_id'/>
		</operation>
		<operation name='getAllUsers'>
		<input message='tns:getAllUsers'/>
		<output message='tns:returns_id'/>
		</operation>
		<operation name='createTrack'>
		<input message='tns:createTrack'/>
		<output message='tns:returns_id'/>
		</operation>
		<operation name='updateTrack'>
		<input message='tns:updateTrack'/>
		<output message='tns:returns_id'/>
		</operation>
		<operation name='getTrackById'>
		<input message='tns:getTrackById'/>
		<output message='tns:returns_id'/>
		</operation>
		<operation name='getAllTracks'>
		<input message='tns:getAllTracks'/>
		<output message='tns:returns_id'/>
		</operation>
		<operation name='createPlayList'>
		<input message='tns:createPlayList'/>
		<output message='tns:returns_id'/>
		</operation>
		<operation name='updatePlayList'>
		<input message='tns:updatePlayList'/>
		<output message='tns:returns_id'/>
		</operation>
		<operation name='getPlayListById'>
		<input message='tns:getPlayListById'/>
		<output message='tns:returns_id'/>
		</operation>
		<operation name='getAllPlayList'>
		<input message='tns:getAllPlayList'/>
		<output message='tns:returns_id'/>
		</operation>
	</portType>
<!-- server encoding -->
	<binding name='SoundInterfaces SOAP_webservices' type='tns:SoundInterfaces SOAP'>
	<soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
		<operation name='createUser'>
		<soap:operation soapAction='urn:xmethods-delayed-quotes#createUser'/>
		<input><soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/></input>
		<output><soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/></output>
		</operation>
		<operation name='updateUser'>
		<soap:operation soapAction='urn:xmethods-delayed-quotes#updateUser'/>
		<input><soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/></input>
		<output><soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/></output>
		</operation>
		<operation name='getUserById'>
		<soap:operation soapAction='urn:xmethods-delayed-quotes#getUserById'/>
		<input><soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/></input>
		<output><soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/></output>
		</operation>
		<operation name='getAllUsers'>
		<soap:operation soapAction='urn:xmethods-delayed-quotes#getAllUsers'/>
		<input><soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/></input>
		<output><soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/></output>
		</operation>
		<operation name='createTrack'>
		<soap:operation soapAction='urn:xmethods-delayed-quotes#createTrack'/>
		<input><soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/></input>
		<output><soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/></output>
		</operation>
		<operation name='updateTrack'>
		<soap:operation soapAction='urn:xmethods-delayed-quotes#updateTrack'/>
		<input><soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/></input>
		<output><soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/></output>
		</operation>
		<operation name='getTrackById'>
		<soap:operation soapAction='urn:xmethods-delayed-quotes#getTrackById'/>
		<input><soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/></input>
		<output><soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/></output>
		</operation>
		<operation name='getAllTracks'>
		<soap:operation soapAction='urn:xmethods-delayed-quotes#getAllTracks'/>
		<input><soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/></input>
		<output><soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/></output>
		</operation>
		<operation name='createPlayList'>
		<soap:operation soapAction='urn:xmethods-delayed-quotes#createPlayList'/>
		<input><soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/></input>
		<output><soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/></output>
		</operation>
		<operation name='updatePlayList'>
		<soap:operation soapAction='urn:xmethods-delayed-quotes#updatePlayList'/>
		<input><soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/></input>
		<output><soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/></output>
		</operation>
		<operation name='getPlayListById'>
		<soap:operation soapAction='urn:xmethods-delayed-quotes#getPlayListById'/>
		<input><soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/></input>
		<output><soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/></output>
		</operation>
		<operation name='getAllPlayList'>
		<soap:operation soapAction='urn:xmethods-delayed-quotes#getAllPlayList'/>
		<input><soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/></input>
		<output><soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/></output>
		</operation>
	</binding>
<!-- access to service provider -->
	<service name='productionary'>
	<port name='productionary_0' binding='SoundInterfaces SOAP_webservices'>
	<soap:address location='http://127.0.0.1./test_soap/endpoint1.php'/>
	</port>
	<port name='productionary_1' binding='SoundInterfaces SOAP_webservices'>
	<soap:address location='http://127.0.0.1./test_soap/endpoint2.php'/>
	</port>
	</service>
</definitions>
